@inherits UmbracoViewPage
@using Our.Umbraco.LinksPicker.Models

@{
    var website = Model.AncestorOrSelf<Culture>() != null ?
        Model.AncestorOrSelf<Culture>() as IGenericWebsite :
        Model.AncestorOrSelf<Website>() as IGenericWebsite;

    var iconImage = Model.GetPropertyValue<IPublishedContent>("iconImage", true);
    var heading = Model.GetPropertyValue<string>("heading", true);
    var cta = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("callToAction", true);
    var logo = Model.GetPropertyValue<IPublishedContent>("logo", true);

}


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                @if (iconImage != null)
                {
                    <img class="footer__icon-image center-block margin-bt45" src="@iconImage.Url" />
                }
                @if (!heading.IsNullOrWhiteSpace())
                {
                    <h2 class="footer__heading text-center">@Html.Raw(heading)</h2>
                }
                @if (cta != null)
                {

                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @if (logo != null)
                {
                    <a href="@website.Url" class="footer__logo">
                        @Html.CachedPartial(
                            "Components/_Media",
                            new MediaViewModel
                            {
                                Image = logo,
                                TypedWidths = new TypedWidths
                                {
                                    TypedXs = 81
                                }
                            }, 3600, true)
                    </a>
                }
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="footer__info">
                    @Html.Raw(Model.GetPropertyValue("info", true))
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                @Html.CachedPartial("Components/_SoMe", new SoMeViewModel
                {
                    FacebookUrl = website.FacebookUrl,
                    InstagramUrl = website.InstagramUrl,
                    LinkedInUrl = website.LinkedInUrl,
                    TwitterUrl = website.TwitterUrl
                }, 3600, true)
            </div>
        </div>
    </div>
</footer>



