@inherits UmbracoViewPage
@using Our.Umbraco.LinksPicker.Models

@{
    var website = Model.AncestorOrSelf<Culture>() != null ?
        Model.AncestorOrSelf<Culture>() as IGenericWebsite :
        Model.AncestorOrSelf<Website>() as IGenericWebsite;

    var links = Model.GetPropertyValue<IEnumerable<LinksPickerItem>>("headerLinks", recurse: true);
}

<header class="mobile-header visible-xs">
    <div style="position: relative;">

    <div class="mobile-header__head">
        <div class="mobile-header__logo">
            <svg width="100%" height="100%" viewBox="0 0 210 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"> <g transform="matrix(1,0,0,1,-135,-46)"> <g id="skalk" transform="matrix(0.49386,0,0,0.4913,-871.185,-1115.83)"> <path d="M2086.91,2425.8c9.9,4 8.9,8.5 8.9,8.5c0,12.5 -18.8,12.3 -18.8,12.3c-23.2,0 -38.2,-34.1 -38.2,-34.1l0,50l9.8,-18.7c0,0 15.2,10.6 29,10.6c13.8,0 35.3,-6.3 35.3,-25.2c0,0 1.4,-11.2 -17.6,-18.4l-33.3,-13c-9.1,-4 -8,-8 -8,-8c0,-12.2 16.5,-12.8 16.5,-12.8c21.4,0 35.3,27.4 35.3,27.4l0,-39.6l-9,12.9c0,0 -14,-7.6 -26.7,-7.6c-12.7,0 -32.7,6.1 -32.7,24.6c0,0 -1.3,10.9 16.2,18l33.3,13.1Zm113.4,17.1l43.6,-75.7l40.4,75.7l7.6,4.6l5.7,-4.6l0,-58.5l-20.4,-10l57.6,0l-22.7,10l0,60.7l26.6,0l19.5,-22.3l-9.4,30.2l-101.2,0l20.3,-10l-8.9,-16.8l-38.9,0l-9.6,16.8l19.6,10.1l-64.2,0l16.8,-10.1l-23.7,-30.5l-13.9,12.2l0,18.3l17.5,10l-48.1,0l16.1,-10l0,-58.6l-20.2,-10l50.2,0l-15.5,10l0,27.4l31.2,-27.4l-14.3,-10l51.3,0l-22.4,10l-21.5,18.9l30.8,39.6l0.1,0Zm201.2,10.1l-48,0l16.1,-10l0,-58.6l-20.2,-10l50.1,0l-15.5,10l0,27.5l31.2,-27.5l-14.2,-10l51.3,0l-22.5,10l-21.5,18.9l30.8,39.6l23.5,10.1l-57.7,0l16.8,-10l-23.7,-30.6l-13.9,12.2l-0.1,18.3l17.5,10.1Zm-146.8,-34.7l-14.5,-27.3l-15.6,27.3l30.1,0Z" style="fill:#f54d04;" /> </g> </g></svg>
        </div>
    </div>
    <div class="mobile-header__nav">
        <div class="mobile-header__nav-head">
            @renderNavHead()
        </div>
        <nav role="navigation">
            @{ Html.RenderPartial(
                    "Components/_CollapseMenu",
                    new CollapseMenuViewModel
                    {
                        StartNode = website,
                        MaxLevelsRendered = 15
                    }); }
        </nav>
        @if (links != null && links.Any())
        {
            <div class="mobile-header__menu">
                <nav role="navigation">
                    @foreach (var item in links)
                    {
                        @renderMenu(item)
                    }
                </nav>
            </div>
        }
    </div>
    <div class="mobile-header__nav-expander">
        <div class="expander">
            <button class="expander__trigger expander__trigger--nav" href="#">
                <span class="expander__icon"></span>
            </button>
        </div>
    </div>
    </div>
</header>

@helper renderNavHead()
{
    <div class="mobile-header__search">
        <form class="search-form search-form--toggle search-form--closed" role="search" action="/soegeside">
            <div class="search-form__submit submit" data-action="/soegeside">
                <svg width="100%" height="100%" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><rect id="Moodbord" x="-333" y="-1457" width="1440" height="3797" style="fill:none;" /><g id="fa-search"><path id="fa-search1" d="M13.846,8.462c0,-1.483 -0.527,-2.751 -1.58,-3.805c-1.054,-1.053 -2.322,-1.58 -3.804,-1.58c-1.483,0 -2.751,0.527 -3.805,1.58c-1.053,1.054 -1.58,2.322 -1.58,3.805c0,1.482 0.527,2.75 1.58,3.804c1.054,1.053 2.322,1.58 3.805,1.58c1.482,0 2.75,-0.527 3.804,-1.58c1.053,-1.054 1.58,-2.322 1.58,-3.804Zm6.154,10c0,0.416 -0.152,0.777 -0.457,1.081c-0.304,0.305 -0.665,0.457 -1.081,0.457c-0.433,0 -0.794,-0.152 -1.082,-0.457l-4.123,-4.11c-1.434,0.993 -3.033,1.49 -4.795,1.49c-1.146,0 -2.242,-0.222 -3.288,-0.667c-1.045,-0.445 -1.947,-1.046 -2.704,-1.803c-0.757,-0.757 -1.358,-1.659 -1.803,-2.704c-0.445,-1.046 -0.667,-2.142 -0.667,-3.287c0,-1.146 0.222,-2.242 0.667,-3.288c0.445,-1.045 1.046,-1.947 1.803,-2.704c0.757,-0.757 1.659,-1.358 2.704,-1.803c1.046,-0.445 2.142,-0.667 3.288,-0.667c1.145,0 2.241,0.222 3.287,0.667c1.045,0.445 1.947,1.046 2.704,1.803c0.757,0.757 1.358,1.659 1.803,2.704c0.445,1.046 0.667,2.142 0.667,3.288c0,1.762 -0.497,3.361 -1.49,4.795l4.122,4.123c0.297,0.296 0.445,0.657 0.445,1.082Z" style="fill:#b4b5a2;fill-rule:nonzero;" /></g></svg>
            </div>
            <input type="text" name="q" value="@Umbraco.GetQueryString("q", "")" class="search-form__input" placeholder="Søg..." autocomplete="off">
        </form>
    </div>
    @*<div class="mobile-header__login">
        @{ Html.RenderPartial("UmbracoIdentityAccount/LoginStatus", Model); }
    </div>*@
}

@helper renderMenu(LinksPickerItem item)
{
if (item.Id > 0 && item.Content != null)
{
    {
        Html.RenderPartial(
      "Components/_CollapseMenu",
      new CollapseMenuViewModel
      {
          ClassModifier = "cm--alt-color",
          StartNode = item.Content,
          MaxLevelsRendered = 15,
          StartAsSingleItem = true
      });
    }
    }
    else
    {
            <a class="mobile-header__link" href="@item.Url"><span>@item.Name</span></a>
    }
}