@inherits UmbracoViewPage

@{
    Layout = null;
    Html
        .RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js", 1, 1)
        .RequiresJs("~/Content/components/picturefill/dist/picturefill.min.js", 1, 1)
        .RequiresJs("~/Content/components/animejs//anime.min.js", 1, 1)
        .RequiresJs("~/Content/components/object-fit-polyfill/object-fit-polyfill.js", 1, 1)
        .RequiresCss("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900", 1, 1)
        .RequiresCss("~/content/css/shell.css", 2, 1)
        .RequiresCss("~/content/css/font-awesome.css", 1, 2, new { @defer = string.Empty })
        .RequiresCss("~/content/css/main.css", 2, 2, new { @defer = string.Empty });

    var website = Model.Site() as Website;
}
<!DOCTYPE html>
<html lang="@Model.GetCulture().TwoLetterISOLanguageName" prefix="og: http://ogp.me/ns#">
<head>
    <!-- TODO: Remember to remove on live environment-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(Model.Name) | TnnPlay</title>
    <meta name="description" content="@(Model.GetPropertyValue<string>("content"))">
    <meta name="robots" content="index, follow">
    @Html.Partial("_Favicons")
    @Html.CachedPartial("_OpenGraph", Model, 3600, true)
    @Html.RenderCssHere()
</head>
<body>
   @{ Html.RenderPartial("_NavbarHeader", Model); }

   @*@{ Html.RenderPartial("_MobileHeader"); }*@

    <main class="@Model.DocumentTypeAlias.ToLower()">
        @RenderBody()
    </main>

   @{ Html.RenderPartial("_Footer", Model); }

   @{ Html.RenderPartial("Components/_CookieConsent", Model); }

    <!-- ANALYTICS -->
    @Html.Raw(website.Analytics)

    @Html.RenderJsHere()
</body>
</html>
