@inherits UmbracoViewPage<IGenericPage>
@using TNNPlay.Web.Helpers
@using Umbraco.Web.PropertyValueConverters.Leaflet;

@{
    Layout = "_Layout.cshtml";
    var page = Model;
    var hasGridLayout = Model.Layout.CheckIfGridExist();
    var articleGridSize = Model.ArticleImage != null ?
        "col-xs-12 col-md-5 col-md-offset-1" :
        "col-xs-12 col-md-6 col-md-offset-3";
}


@Html.CachedPartial(
    "Components/_Hero",
    new HeroViewModel
    {
        Image = page.HeroImage,
        Heading = page.Heading,
        GridSettings = new GridSettings
        {
            GridXs = 12,
            GridTotalPadding = 0
        },
        MediaHeights = new MediaHeights
        {
            HeightMd = 750,
            HeightXs = 450
        }
    }, 3600, cacheByPage: true)

<div class="grid-layout">
    <div class="container">
        <div class="row">
            <div class="@articleGridSize">
                @if (!Model.ArticleHeading.IsNullOrWhiteSpace())
                {
                    <h2 class="margin-bt40">@Html.Raw(Model.ArticleHeading)</h2>
                }
                <div class="row">
                    <div class="col-xs-12 col-md-10">
                        @if (hasGridLayout)
                        {
                            @Html.GetGridHtml(page, "layout", "_GridPage")
                        }
                    </div>
                </div>
            </div>
            @if (Model.ArticleImage != null)
            {
                <div class="col-xs-12 col-md-5 line-base">
                    @Html.CachedPartial(
                        "Components/_Media",
                        new MediaViewModel
                        {
                            Image = page.ArticleImage,
                            GridSettings = new GridSettings
                            {
                                GridMd = 5,
                                GridXs = 12
                            }
                        }, 3600, cacheByPage: true)
                </div>
            }
        </div>        
    </div>
</div>
