@inherits UmbracoViewPage<IGenericLandingPage>
@using Our.Umbraco.LinksPicker.Models
@{
    Layout = "_Layout.cshtml";

    Html
        .RequiresJs("~/scripts/dist/preview.js", 1, 2, new { @defer = string.Empty });

    var descendantPages = Model.Descendants<GridPage>()
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.GetPropertyValue("date", x.CreateDate));

}
<div class="container container--no-padding">
    <div class="row">
        <div class="col-xs-12">
            @Html.CachedPartial(
             "Components/_Hero",
             new HeroViewModel
             {
                 Image = Model.HeroImage,
                 Trumpet = Model.Trumpet,
                 Heading = Model.Heading,
                 Lead = Model.Lead,
                 Link = Model
                     .GetPropertyValue("link", Enumerable.Empty<LinksPickerItem>())
                     .FirstOrDefault(),
                 ModifierClass = "",
                 GridSettings = new GridSettings
                 {
                     GridTotalPadding = -20
                 },
                 MediaHeights = new MediaHeights
                 {
                     HeightSm = 450,
                     HeightXs = 350
                 }
             }, 3600, cacheByPage: true)
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Html.CachedPartial(
         "Components/_Breadcrumb",
         new BreadcrumbViewModel
         {
             CurrentPage = Model,
             ShowCurrentPage = true,
             ClassModifier = "",
             DropdownClassModifier = ""
         }, 3600, cacheByPage: true)
        </div>
    </div>
    @if (Model.HasValue("rte"))
    {
        <div class="row">
            <div class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2">
                <div class="preview">
                    <div class="preview__content">
                        @Html.Raw(Model.GetPropertyValue<IHtmlString>("rte"))
                    </div>
                    <button type="button" class="preview__expander btn btn--default btn--center">Læs mere</button>
                </div>
            </div>
        </div>
    }

    @* DIVERSE CONTENT *@
    @switch (Model.DocumentTypeAlias)
    {

        case "overviewPageTagFilter":
            @renderOverviewPageSearchByTag(); break;

        case "overviewPagePickers":
            @renderOverviewPagePickers(); break;

        default:
            @renderOverviewgPage(descendantPages); break;
    }

</div>

@helper renderOverviewPagePickers()
{
    var nestedItems = Model.GetPropertyValue("overviewNested", Enumerable.Empty<IPublishedContent>());

    if(nestedItems.Any())
    {
        foreach (var item in nestedItems)
        {
            @Html.Action(
                "GetPage",
                "MediaList",
                new MediaListViewModel()
                {
                    ViewModel = item,
                    RenderPartialView = RenderPartialView.MediaList,
                    RenderMethod = RenderListMethod.OverviewNested,
                    ViewRenderMode = ViewRenderMode.EnableBootstrap,
                    CardClassModifier = "",
                    MediaListIndex = new MediaListIndex
                    {
                        Indexes = new int[] { 0 },
                        CardClassModifier = "card--columns",
                        GridSettings = new GridSettings
                        {
                            GridXs = 12
                        },
                        MediaHeights = new MediaHeights
                        {
                            HeightMd = 500,
                            HeightXs = 300
                        },
                        
                    },
                    GridSettings = new GridSettings
                    {
                        GridLg = 4,
                        GridSm = 6
                    },
                    MediaHeights = new MediaHeights
                    {
                        HeightSm = 225,
                        HeightXs = 300
                    }
                })
        }
    }
}

@helper renderOverviewPagePageSearchByTag()
{
    @Html.Action(
        "GetPage",
        "MediaList",
        new MediaListViewModel()
        {
            SearchType = SearchType.RelatedPagesByTags,
            ViewRenderMode = ViewRenderMode.EnableBootstrap,
            CardClassModifier = "",
            ItemsPerPage = 25,
            GridSettings = new GridSettings
            {
                GridMd = 4,
                GridMs = 6
            },
            MediaHeights = new MediaHeights
            {
                HeightMd = 520
            }
        })
}
