@inherits UmbracoViewPage<IGenericLandingPage>
@using Our.Umbraco.LinksPicker.Models
@{
    Layout = "_Layout.cshtml";

    Html
        .RequiresJs("~/scripts/build/preview.js", 1, 2, new { @defer = string.Empty });

    var descendantPages = Model.Descendants<GridPage>()
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.GetPropertyValue("date", x.CreateDate));

}
<div class="container container--no-padding">
    <div class="row">
        <div class="col-xs-12">
            @Html.CachedPartial(
             "Components/_Hero",
             new HeroViewModel
             {
                 Image = Model.HeroImage,
                 Trumpet = Model.Trumpet,
                 Heading = Model.Heading,
                 Lead = Model.Lead,
                 Link = Model
                     .GetPropertyValue("link", Enumerable.Empty<LinksPickerItem>())
                     .FirstOrDefault(),
                 ModifierClass = "",
                 GridSettings = new GridSettings
                 {
                     GridTotalPadding = -20
                 },
                 MediaHeights = new MediaHeights
                 {
                     HeightSm = 450,
                     HeightXs = 350
                 }
             }, 3600, cacheByPage: true)
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Html.CachedPartial(
         "Components/_Breadcrumb",
         new BreadcrumbViewModel
         {
             CurrentPage = Model,
             ShowCurrentPage = true,
             ClassModifier = "",
             DropdownClassModifier = ""
         }, 3600, cacheByPage: true)
        </div>
    </div>
    @if (Model.HasValue("rte"))
    {
        <div class="row">
            <div class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-8 col-sm-offset-2">
                <div class="preview">
                    <div class="preview__content">
                        @Html.Raw(Model.GetPropertyValue<IHtmlString>("rte"))
                    </div>
                    <button type="button" class="preview__expander btn btn--default btn--center">Læs mere</button>
                </div>
            </div>
        </div>
    }

    @* DIVERSE CONTENT *@
    @switch (Model.DocumentTypeAlias)
    {

        case "landingpageTagFilter":
            @renderLandingPageSearchByTag(); break;

        default:
            @renderLandingPage(descendantPages); break;
    }

</div>

@helper renderLandingPage(IOrderedEnumerable<GridPage> pages)
{

if (pages.Any())
{
        <h4 class="margin-bt25">Vælg en destination</h4>
        {
            Html.RenderPartial(
              "Components/_MediaList",
              new MediaListViewModel()
              {
                  MediaList = pages,
                  ViewRenderMode = ViewRenderMode.EnableBootstrap,
                  CardClassModifier = "",
                  ShowLead = false,
                  ShowImage = false,
                  GridSettings = new GridSettings
                  {
                      GridXl = 2,
                      GridLg = 3,
                      GridMd = 4,
                      GridSm = 4,
                      GridMs = 6
                  },
                  MediaHeights = new MediaHeights
                  {
                      HeightSm = 420,
                      HeightXs = 300,
                  }
              });
        }
        <div class="spacer25"></div>
}
}

@helper renderLandingPageSearchByTag()
{
    @Html.Action(
        "GetPage",
        "MediaList",
        new MediaListViewModel()
        {
            SearchType = SearchType.RelatedPagesByTags,
            ViewRenderMode = ViewRenderMode.EnableBootstrap,
            CardClassModifier = "",
            ItemsPerPage = 25,
            GridSettings = new GridSettings
            {
                GridMd = 4,
                GridMs = 6
            },
            MediaHeights = new MediaHeights
            {
                HeightMd = 520
            }
        })
}
